html(lang='ko')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title TUTUM
  body
    p= '운송장 번호: ' + trackingInfo.invoiceNo
    p= '받는 사람: ' + trackingInfo.receiverName
    p= '보낸 사람: ' + trackingInfo.senderName
    p= '수령 주소: ' + trackingInfo.receiverAddr
    p
      table(border='1', summary='trackingInfo')
        thead
          tr
            th 시간
            th 현재 위치
            th 배송 상태
        tbody
          each trackingDetail in trackingInfo.trackingDetails
            tr
              td= trackingDetail.timeString
              td= trackingDetail.where
              td= trackingDetail.kind
